@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'josefin sans', sans-serif;
    color: white ;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(./Resources/Cross.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.occ__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    margin-top: 6rem;
    border-radius: 5px;
    font-size: 24px;
}

.occ__container button{
    margin: 1px auto;
    padding: 2px;
    cursor: pointer;
    font-size: 24px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    
}

.highlight{
    background-color: burlywood !important;
    border-radius: 5px;
    color: black;
}


.main{
    color: rgb(0, 0, 0);
    flex-direction: column;
    padding-top: 3rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* #date{
    /* width: 500px; 
    margin-top: 2rem;
    height: 30px;
    border-radius: 10px;
    background-color: gray;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    padding-left: 5px;
} */




.time__container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
    align-items: center;
    font-size: 2.7rem;
    padding-left: 10px;
    /* border: 1px solid red; */
}

.time{
    color: rgb(0, 0, 0);
    text-align: center;
}

.time span {
    font-size: 4rem;
}

@media screen and (max-width:600px){
    .container{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;    
        flex-wrap: wrap;    
        height: 100vh;
        width: 100%;
        background-position: 75% 25%;
    }
    .container h1{
        font-size: 70px;
    }
    .occ__container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 7rem;
        flex-wrap: wrap;
        font-size: 12px;
        width: 100%;
    }
    .occ__container button{
        font-size: 20px;
        margin: 5px 3px;
    }
    .time__container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        font-size: 1.4rem;
    }
    .time span{
        font-size: 2rem;
    }
}